body {
  font-family: serif;
  margin: auto;
  max-width: 700px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 700px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

p {text-align:justify}

header { border-bottom: 1px solid #000; }

header > h1 { display: inline-block; }

header span { margin-left: 100px; }

